{% extends 'base.html' %}
{% block content %}
    <style>
      .loader{
        display:none;
      }
    </style>
    <div class="container-fluid" style="margin-top:20px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="card border-secondary">
            <div class="card-body">
              <h4 class="card-title">CV Filter</h4>
              <hr/>
              <div class="row">
                <div class="col-lg-6">
                  <p class="card-text">Degrees</p>
                  <div class="card border-secondary">
                    <div class="card-body" style="height:300px;overflow:auto">
                      <table class="table">
                        <tr>
                          <th>Rank</th>
                          <th>Degree</th>
                        </tr>
                        {% for d in degree %}
                          <tr>
                            <td>{{d.degree_rank}}.</td>
                            <td><p style="margin-bottom:3px;cursor:pointer">{{d}}</p></td>
                          </tr>
                          {% endfor %}
                      </table>


                    </div>
                  </div>
            </div>
                <div class="col-lg-6">
                  <p class="card-text">University/College</p>
                  <div class="card border-secondary">
                    <div class="card-body"  style="height:300px;overflow:auto">
                      <table class="table">
                        <tr>
                          <th>Rank</th>
                          <th>Name of University/College</th>
                        </tr>
                        {% for d in college %}
                          <tr>
                            <td>{{d.clg_rank}}.</td>
                            <td><p style="margin-bottom:3px;cursor:pointer">{{d}}</p></td>
                          </tr>
                          {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-lg-12" style="margin-top:15px;">
                  <p id="key" class="card-text">Keywords</p>
                  <div class="card border-secondary">
                    <div class="card-body" id="keydata" style="height:200px;overflow:auto">
                        {% for k in keywords %}
                          <button class="btn btn-secondary" style="margin-bottom:3px;">{{k}}</button>
                        {% endfor %}
                          <a id="addkey" href="#key" style="margin-left:3px;">Add keyword</a
                          <div style="">
                            <input type="text" placeholder="enter keyword"
                            style="width:220px;padding:4px;display:none" id="newkey" />
                            <span id="closekey" style="margin-left:7px;cursor:pointer;display:none">X</span>
                          </div>
                    </div>
                  </div>
            </div>
              </div>

<!--
            <div class="row">
              <div class="col-lg-12">
                <div class="card border-secondary" style="margin-top:30px;">
                  <div class="card-body">
                    <p class="card-text">Other Requirements</p>
                    <textarea id="Requirements" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div> -->
            <p class="text-center">
              <a href="#end" class="btn btn-primary" id="process" style="margin-top:15px;">Start CV Analysis</a>
            </p>
          </div>
        </div>
          </div>
        </div>

        <div id="end"></div>
        <div id="results" class="row">
          <div class="col-lg-12" style="margin-top:15px;">
            <div class="card border-secondary">
              <div class="card-body">
                <h4 class="card-title">Results <span class="text-warning" style="font-size:14px;">( Ranking 1 to 100 )</span></h4>
                <hr/>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title text-info">OverAll Rank</h4>
                        <div>
                          <table class="table" id="overall">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>

        <div id="results" class="row">
          <div class="col-lg-12" style="margin-top:15px;">
            <div class="card border-secondary">
              <div class="card-body">
                <h4 class="card-title">Results Details <span class="text-warning" style="font-size:14px;">( Ranking 1 to 100 )</span></h4>
                <hr/>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title text-info">College Rank</h4>
                        <div>
                          <table class="table" id="college">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title  text-info">Degree Rank</h4>
                        <div id="" class="table">
                          <table class="table" id="degree">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <br>
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title text-info">Keyword Rank</h4>
                        <div id="" class="table">
                          <table class="table" id="keyword">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
      </div>

{% endblock %}
{% block script %}
<script>
  var devDpmain = "http://127.0.0.1:8000";
    var proDomain = "htdtp://ec2-13-233-0-31.ap-south-1.compute.amazonaws.com:9001";
  $('#addkey').click(function(){
    $(this).hide();
    $('#newkey').show();
    $('#closekey').show();
  });

  $(document).on('click', '#closekey', function(){
    $(this).hide();
    $('#newkey').hide();
    $('#addkey').show();
  });

  $(document).on('keypress', '#newkey', function(e){
    if(e.keyCode==13){
      var kw = $('#newkey');
      if(kw.val().length>1){
        $.get(proDomain+'/adminpanel/addkeywords/'+kw.val(), function(data){
          console.log(data);
          $("#keydata").prepend('<button class="btn btn-secondary" style="margin-bottom:3px;">'+kw.val()+'</button>');
          kw.val("");
          kw.hide();
          $('#addkey').show();
        }).fail(function(){
          alert('Server error');
          kw.val("");
          kw.hide();
          $('#addkey').show();
        });

        
      }
    }
  });

  $('#process').click(function(){
    $(this).hide();
    $('.loader').fadeIn();
    $("#college").empty();
    $("#degree").empty();
    $("#keyword").empty();
    $("#overall").empty();
    $.get(proDomain+'/adminpanel/api/v1/processcv', function(data){
      $('.loader').hide();
      $('#process').show();
      var obj = JSON.parse(data);
      console.log(obj);
      var clgRank = [];
      var degreeRank = [];
      var keywordRank = [];
      for(i=0;i<obj.collegeRank.length;i++){
      	$.each( obj.collegeRank[i], function( key, value ) {
      		$("#college").append('<tr><td></td><td><strong>'+key+"</strong></td><td>"+value+"</td></tr>");
          if(key!="college"){
            var min = Math.min.apply(null, value);
            clgRank.push({
              'name': key,
              'rank': (obj.college_count-min)
            });
          }
      	});
        $("#college").append("<tr><td colspan='3'></td></tr>");
      }

      for(i=0;i<obj.degreeRank.length;i++){
        flg = 0;
      	$.each( obj.degreeRank[i], function( key, value ) {
          if(value!=""){
            flg = 0;
            $("#degree").append('<tr><td><strong>'+key+"</strong></td><td>"+value+"</td></tr>");
            if(key!="degree"){
              var min = Math.min.apply(null, value);
              degreeRank.push({
                'name': key,
                'rank': (obj.degree_count-min)
              });
            }
          }else {
            flg = 1;
          }
      	});
        if (flg==0){
          $("#degree").append("<tr><td colspan='3'></td></tr>");
        }
      }

      for(i=0;i<obj.keywordRank.length;i++){
      	$.each( obj.keywordRank[i], function( key, value ) {
          if(key=='keywords'){
            $("#keyword").append('<tr><td><strong>'+key+"</strong></td><td>"+value+"</td></tr>");
          }else if(key=='keywordsCount'){
            $("#keyword").append('<tr><td><strong>'+key+"</strong></td><td>"+value+"</td></tr>");
          }else{
            $("#keyword").append('<tr><td><strong>'+key+"</strong></td><td>"+(value*100).toFixed(2)+"</td></tr>");
            keywordRank.push({
              'name': key,
              'rank': (value*100).toFixed(2)
            });
          }
      	});
        $("#keyword").append("<tr><td colspan='2'></td></tr>");
      }
    //  keywordRank = sortJSON(keywordRank,'rank', '321');
      //clgRank = sortJSON(clgRank,'rank', '321');
      //grandArr = sortJSON(grandArr,'rank', '321');
      var grandArr = [];
      var tempArr = [keywordRank, clgRank, degreeRank];
      //console.log(tempArr);
      for(k=0;k<tempArr.length;k++){
        $.each( tempArr[k], function( key, value ) {
          flg=0;
          for(x=0;x<grandArr.length;x++){

            if(grandArr[x]['name']==value.name){
              flg=1;
              grandArr[x]['total'] = value.rank+ Number(grandArr[x]['total']);
              grandArr[x]['values'] = value.rank+" "+grandArr[x]['values'];
            }
        }
        if(flg==0){
          grandArr.push({
            'name': value.name,
            'total': value.rank,
            'values': value.rank
          });
        }
        });
      }

      grandArr = sortJSON(grandArr,'total', '321');

      grandTotal = 0;
      $.each( grandArr, function( key, value ) {
        grandTotal += value.total;
      });
      var t_rank = 1;
      $("#overall").append('<tr><th>Rank</th><th>Name of Applicant</th><th>Total Score</th></tr>');
      $.each( grandArr, function( key, value ) {
        var per = (value.total*100)/grandTotal;
        $("#overall").append('<tr><td>'+(t_rank++)+'.</td><td>'+value.name+"</td><td>"+per.toFixed(2)+"%</td></tr>");
      });
    //  console.log(grandArr);
    //exportTableToExcel('overall', 'CVResults');
    }).fail(function(){
      alert('Server error try again after some time.');
      $('.loader').hide();
      $('#process').show();
    });

    var sortJSON = function sortJSON(data, key, way) {
      return data.sort(function(a, b) {
          var x = a[key]; var y = b[key];
          if (way === '123' ) { return ((x < y) ? -1 : ((x > y) ? 1 : 0)); }
          if (way === '321') { return ((x > y) ? -1 : ((x < y) ? 1 : 0)); }
      });
    }
  });
</script>
<script type="text/javascript">
  function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';

    // Create download link element
    downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
    }
}
</script>
{% endblock %}
