{% extends 'base.html' %}
{% block content %}
    <style>
      .loader{
        display:none;
      }
    </style>
    <div class="container-fluid" style="margin-top:20px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="card border-secondary bg-light">
            <div class="card-body">
              <h4 class="card-title">CV Filter</h4>
              <hr/>
              <div class="row">
                <div class="col-lg-6">
                  <p class="card-text">Degrees</p>
                  <div class="card border-secondary">
                    <div class="card-body" style="height:300px;overflow:auto">
                      <table class="table">
                        <tr>
                          <th>Rank</th>
                          <th>Degree</th>
                        </tr>
                        {% for d in degree %}
                          <tr>
                            <td>{{d.degree_rank}}.</td>
                            <td><p style="margin-bottom:3px;cursor:pointer">{{d}}</p></td>
                          </tr>
                          {% endfor %}
                      </table>


                    </div>
                  </div>
            </div>
                <div class="col-lg-6">
                  <p class="card-text">University/College</p>
                  <div class="card border-secondary">
                    <div class="card-body"  style="height:300px;overflow:auto">
                      <table class="table">
                        <tr>
                          <th>Rank</th>
                          <th>Name of University/College</th>
                        </tr>
                        {% for d in college %}
                          <tr>
                            <td>{{d.clg_rank}}.</td>
                            <td><p style="margin-bottom:3px;cursor:pointer">{{d}}</p></td>
                          </tr>
                          {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-lg-12" style="margin-top:15px;">
                  <p id="key" class="card-text">Keywords <span></span></p>
                  <div class="card border-secondary">
                    <div class="card-body" id="keydata">
                      <div class="row">
                        <div class="col-lg-6" style="height:200px;overflow:auto">
                          <table class="table keytable">
                            <tr>
                              <th>SNo.</th>
                              <th>Keyword</th>
                              <th></th>
                            </tr>
                            {% for k in keywords %}
                            <tr>
                              <td>{{forloop.counter }}.</td>
                              <td><span class="badge badge-dark">{{k}}</span></td>
                              <td>
                                  <img src="/static/css/close.png" style="width:30px;cursor:pointer" alt="">
                              </td>
                            </tr>
                            {% endfor %}
                          </table>
                        </div>
                        <div class="col-lg-6">
                          <hr/>
                          <table>
                            <tr>
                              <td>Select Keyword</td>
                              <td><select style="width:220px;" class="form-control" id="skey">
                                <option value="">select</option>
                                {% for k in keywords %}
                                <option value="{{k}}">{{k}}</option>
                                {% endfor %}
                              </select></td>
                              <td>
                                <a href="http://ec2-52-66-248-85.ap-south-1.compute.amazonaws.com:9001/admin/scan_app/cvkeywords/" target="_blank" class="text-danger" id="delkey">Delete Keyword</a>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <span class="text-danger" id="sinfo"></span>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3"><hr/></td>
                            </tr>
                            <tr>
                              <td>Enter New Keyword</td>
                              <td><input type="text" placeholder="enter keyword"
                              style="width:220px;" class="form-control" id="newkey" /></td>
                              <td><button id="newkeybtn" class="btn btn-primary">Add New Keyword</button></td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <span class="" id="snew"></span>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--
            <div class="row">
              <div class="col-lg-12">
                <div class="card border-secondary" style="margin-top:30px;">
                  <div class="card-body">
                    <p class="card-text">Other Requirements</p>
                    <textarea id="Requirements" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div> -->
            <p class="text-center">
              <a href="#end" class="btn btn-primary" id="process" style="margin-top:15px;">Start CV Analysis</a>
            </p>
            <div id="end"></div>
          </div>
        </div>
          </div>
        </div>

        <div id="results" class="row">
          <div class="col-lg-12" style="margin-top:15px;">
            <div class="card border-secondary bg-light">
              <div class="card-body">
                <h4 class="card-title">Results <span class="text-warning" style="font-size:14px;">( Ranking 1 to 100 )</span></h4>
                <hr/>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title text-info">OverAll Rank</h4>
                        <div>
                          <table class="table" id="overall">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>

        <div id="results" class="row">
          <div class="col-lg-12" style="margin-top:15px;">
            <div class="card border-secondary bg-light">
              <div class="card-body">
                <h4 class="card-title">Results Details <span class="text-warning" style="font-size:14px;">( Ranking 1 to 100 )</span></h4>
                <hr/>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title text-info">College Rank</h4>
                        <div>
                          <table class="table" id="college">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title  text-info">Degree Rank</h4>
                        <div id="" class="table">
                          <table class="table" id="degree">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <br>
                    <div class="card border-secondary ">
                      <div class="card-body">
                        <h4 class="card-title text-info">Keyword Rank</h4>
                        <div id="" class="table">
                          <table class="table" id="keyword">
                          </table>
                          <div class="loader">
                            <div class='text-center'><img src="/static/css/loader-1.gif" style="width:100px" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
      </div>

{% endblock %}
{% block script %}
<script src="/static/js/main.js"></script>
{% endblock %}
