{% extends 'base.html' %}
{% block content %}
    <style>
      .loader{
        display:none;
      }
    </style>
    <div class="container-fluid" style="margin-top:20px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="card border-secondary">
            <div class="card-body">
              <h4 class="card-title">CV Filter</h4>
              <hr/>
              <div style="height:450px;overflow:auto">
                <table class="table table-bordered">
                  <tr>
                    <th style="width:80px">S No.</th>
                    <th>Name of Applicant</th>
                    <th>Date of Upload</th>
                    <th style="width:40px">Download</th>
                    <th style="width:40px">Delete</th>
                  </tr>
                  {% for a in applicant_cv %}
                  <tr>
                    <td>{{forloop.counter}}.</td>
                    <td>{{a.applicant_name}}</td>
                    <td>{{a.upload_date}}</td>
                    <td><a style="font-size:14px" class="badge badge-info" href="../../media/{{a.applicant_cv}}">Download</a></td>
                    <td><a style="font-size:14px" class="badge badge-danger del" id="{{a.id}}" href="#">Delete</a></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
<script src="/static/js/main.js"></script>
{% endblock %}
